html,
body,
#root {
    height: 100%;
    width: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.wrapper {
    position: relative;
    display: flex;
    flex-flow: column;
}

.hidden { display:none; }

.max-width {max-width: 500px; margin:0 auto;}

